/* reset CSS */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* common CSS */
/* fonts*/
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  size: 24px;
 }
 
 h2 {
   font-weight: bold;
   size: 21px;
 }
 
 h3 {
  font-weight: Semi-Bold;
  size: 16px;
 }
 
 p {
  font-weight: Semi-Bold;
  size: 12px;
 }

/* header area */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #262626;
}

.container {
  display: flex;
  justify-content: center;
  width: 95%;
  position: relative;
}

.icon-area {
  justify-content: flex-start;
  padding-top: 22px;
  padding-left: 5vw;
  position: absolute;
  left: 0;
}

.icon-area img{
  width: 80px;
}

.menu {
  display: flex; 
}

.menu-area {
  display: flex; 
  justify-content: space-between;
} 

.menu-area a {
  color: #FFFFFF;
  font-family: 'Philosopher', sans-serif;
  display: flex;
  margin: 35px 1vw;
  width: 100px;
  justify-content: center;
  font-size: 24px;
  transition-duration: 0.3s;
  transition-property:color;
}

.menu-area a:hover {
  color:#73545a;
}

.social-area {  
  display: flex;
  margin-top: 27px;
  position: absolute;
  justify-content: space-between;
  right: 0;
  padding-right: 5vw;
}
.social-area img {
  width: 45px;
  transition-duration: 0.3s;
  transition-property: opacity;
}
.social-area img:hover {
  opacity: 0.7;
}

.fb {
  padding-right: 2vw; 
} 

/* footer area */
footer {
  color: #FFFFFF;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; 
  background: #73545a;
}

.f-social-area img {
  width: 45px;
  margin-bottom: 45px;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.f-social-area img:hover {
  opacity: 0.7;
}