/* reset CSS */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* common CSS */
/* fonts*/
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  size: 24px;
}

h2 {
   font-weight: bold;
   size: 21px;
}

h3 {
  font-weight: Semi-Bold;
  size: 16px;
}

p {
  font-weight: Semi-Bold;
  size: 12px;
}

/* header area */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #1F1627;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: center;
  width: 95%;
  position: relative;
}

.icon-area {
  justify-content: flex-start;
  padding-top: 22px;
  padding-left: 5vw;
  position: absolute;
  left: 0;
}

.icon-area img {
  width: 80px;
}

.menu {
  display: flex; 
}

.menu-area {
  display: flex; 
  justify-content: space-between;
} 

.menu-area a {
  color: #FEFBFB;
  font-family: 'Philosopher', sans-serif;
  display: flex;
  margin: 35px 1vw;
  width: 100px;
  justify-content: center;
  font-size: 24px;
  transition-duration: 0.3s;
  transition-property:opacity;
}

.menu-area a:hover {
  opacity: 0.5;
}

.social-area {
  display: flex;
  margin-top: 27px;
  position: absolute;
  justify-content: space-between;
  right: 0;
  padding-right: 5vw;
}

.social-area img {
  width: 45px;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.social-area img:hover {
  opacity: 0.7;
}

.fb {
  padding-right: 2vw; 
} 

/*footer area */
footer {
  width: 100%;
  color: #FEFBFB;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; 
  background: #73545a;
}

.f-social-area img {
  width: 45px;
  margin-bottom: 45px;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.f-social-area img:hover {
  opacity: 0.7;
}

/* tabrel layout */
@media screen and (max-width:768px) {
  .icon-area {
    padding-top: 18px;
    padding-left: 1vw;
  }

  .icon-area img {
    width: 60px;
  }

  header {
    height: 80px;
  }

  nav {
    display: none;
    position: absolute;
    top:  80px;
    width: 100vw;
    background: #1F1627;
  }

  .menu-area {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .menu-area li {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #FEFBFB;
  }

  .menu-area li:last-child {
    border: none;
  }

  .menu-area ul li a {
    display: block;
    position: absolute;
    font-size: 16px;  
  }

  .menu-area a {
    font-size: 21px;
    margin: 20px auto;
  }

  .social-area {
    display: none;
  }

  #nav_toggle {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 100;
  }
  
  #nav_toggle div {
    position: relative;
  }

  #nav_toggle span {
    display: block;
    height: 3px;
    background: #FEFBFB;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;	
  }

  #nav_toggle span:nth-child(1) {
    top: 0px;
  }

  #nav_toggle span:nth-child(2) {
    top: 12px;
  }

  #nav_toggle span:nth-child(3) {
    top:24px;
  }

  /*navi open action*/
  .open #nav_toggle span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }

  .open #nav_toggle span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  /*footer area */
  footer {
    padding-top: 30px;
    padding-bottom: 30px; 
  }

  .f-social-area img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:480px) {
  footer {
    padding-top: 20px;
    padding-bottom: 20px; 
  }

  .f-social-area img {
    margin-bottom: 15px;
    width: 35px;
  }

  footer p {
    font-size: 14px;
  }
}