/* Main Page Style */
img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    margin-top: 80px; 
    width: 50vh;
  }
}

.hero-section {
  height: 95vh;
  width: 100vw;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #1F1627;
}

.hero-text-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.section {
  height: 1100px;
  width: 100%;
  background-color: #73545A;
  padding-top: 60px;
  color: #ffffff;
}

.cntr {
  height: 700px;
}
.hero-cntr {
  height: 80%;
}

.h2-wrapper {
  margin: auto;
  text-align: center;
  border-bottom-style: solid;
  width: 20%;
  padding-bottom: 10px;
  border-width: 1px;
}

.responsive {
  width: 100vw;
  height: auto;
}

.p-wrapper-right {
  position: relative;
  float: right;
  margin-right:15%;
  width: 27%;
  top: 350px;
  z-index: 1;
}

.image-wrapper-left {
  position: relative;
  bottom: 15%;
  max-width: 70vw;
  height: auto;
}

.p-wrapper-left {
  position: relative;
  margin-left: 15%;
  width: 27%;
  top: 350px;
  z-index: 1;
}

.image-wrapper-right {
  position: relative;
  right: 0px;
  bottom: 15%;
  width: 70vw;
  height: auto;
  float: right;
  
}

.audition-section {
  color: #fff;
}

.audition-cntr {
  width: 100vw;
  background-color:#F1CAD1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audition-titles {
  position: relative;
  bottom: 175px;
  display: flex;
  flex-direction: column;
}

.descriptions-wrapper {
  display: flex;
}

.audition-descripton {
  position: relative;
  bottom: 125px;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 30%;
}

.upcoming-cntr {
  background-color:#73545A;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-titles {
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}

.upcoming-section {
  height: 100vh;
  color: #fff;
}

.upcoming-wrapper {
  margin-bottom: 100px;
  display: flex;
}

.upcoming-descripton{
  text-align: center;
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 30%;
}

.img-cntr {
  position: relative;
  display: flex;
}

.text-wrapper-top {
  position: relative;
  top:150px;
  display: flex;
  flex-direction: column;
}

.text-wrapper-bottom {
  position: relative;
  bottom:150px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.image-wrapper-bottom {
  position: relative;
  bottom: 300px;
  z-index: 0;
}

.image-wrapper-middle {
  position: relative;
  bottom: 150px;
  z-index: 0;
}

.text-wrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: 1;
}

.cta-section {
  padding-top:5vh;
  color: #fff;
  text-align: center;
  background-color:#F1CAD1; 
  height: 35vh;
}

.cta-description {
  text-align: center; 
  display: flex;
  width: 100px;
}

.cta-titles {
  margin-bottom: 2vh;
}

.cta-button {
  background-color: #F6EDE4;
  color: #73545A;
  margin-top: 5vh;
  width: 10vw;
  height: 5vh;
  font-weight: 700;
}