/* Main Page Style */
body {
  color: #f6ede4;
  text-shadow: 0 0 .5em #1F1627;
}

img {
  width: 100%;
  height: auto;
}

footer {
  background: #1F1627;
}


/* background image*/
.background-img {
  position: relative;
  z-index: 1;
  height: 120vh;
  background: url('../img/hero-page/hero-image.svg') no-repeat center center fixed;
  background-color: #1F1627;
  background-position: center center;
  background-size: contain;
}


/* title parts */
.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  color: #fefbfb;
  padding: 5px 0 5px 0;
  background-color: rgb(31, 22, 39, 0.5);
}


/* about us */
.h2-wrapper {
  margin: auto;
  margin-top: 0;
  text-align: center;
  z-index: 2;
  padding: 5px 0 5px 0;
  background-color: rgb(31, 22, 39, 0.5);
}

.wrapper1 p {
  position: relative;
  float: right;
  margin-right: 15%;
  width: 30vw;
  top: 300px;
  z-index: 2;
}

.wrapper1 img {
  position: relative;
  left: 0;
  bottom: 15%;
  width: 70vw;
  height: 70vh;
  object-fit: cover;
}

.wrapper2 p {
  position: relative;
  margin-left: 15%;
  width: 27%;
  top: 300px;
  z-index: 2;
}

.wrapper2 img {
  position: relative;
  right: 0px;
  bottom: 15%;
  width: 70vw;
  height: 70vh;
  object-fit: cover;
  float: right;
}


/* audition */
.audition-section {
  color: #fefbfb;
}

.audition-cntr {
  width: 100vw;
  background-color:#F1CAD1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audition-titles {
  position: relative;
  bottom: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3vh 2vw 0 2vw;
}

.descriptions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.audition-description {
  position: relative;
  bottom: 150px;
  margin: 3vh 2vw 5vh 2vw;
  width: 200px;
  height: 100px;
}


/* upcoming */
.upcoming-cntr {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-cntr h2 {
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
  width: 100%;
  padding: 5px 0 5px 0;
  background-color: rgb(31, 22, 39, 0.5);
}

.upcoming-wrapper {
  margin-bottom: 30vh;
  display: flex;
  justify-content: center;
}

.upcoming-description{
  text-align: center;
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 250px;
}

.upcoming-description p {
  padding: 1vw;
}

.text-wrapper-top {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.text-wrapper-middle {
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: 3;
}

.text-wrapper-bottom {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.image-wrapper-bottom {
  position: relative;
  bottom: 300px;
  z-index: 2;
}

.image-wrapper-middle {
  position: relative;
  bottom: 150px;
  z-index: 2;
}

.image-wrapper-top {
  position: relative;
  bottom: 0px;
  z-index: 2;
}


/* contacts */
.cta-section {
  color: #FEFBFB;
  text-align: center;
  background-color: #F1CAD1; 
  padding: 5% 5vw 5% 5vw;
}

.cta-titles {
  margin-bottom: 2vh;
}

#email {
  color: #F6EDE4;
}

#email:hover {
  color: #73545A;
  text-shadow: 0 0 .5em #F6EDE4;
}

.cta-button {
  background-color: #F6EDE4;
  color: #73545A;
  width: 150px;
  height: 30px;;
  font-weight: Semi-Bold;
  font-size: 16px;
  border-radius: 5px;
  transition-duration: 0.4s;
  margin: 5vh 10vw 5vh 10vw;
}

.cta-button:hover {
  background-color: #F1CAD1;
  border-color: #73545A;
  color: #73545A;
}

/* tablet layout */
@media screen and (max-width:768px) {
  .background-img {
      background-size: 140% auto;
  }

  .wrapper1 p {
      float: left;
      margin: 0 5vw 0 5vw;
      width: 90%;
  }
  
  .wrapper1 img {
      width: 100%;
  }

  .wrapper2 p {
      margin: 0 5vw 0 5vw;
      width: 90%;
  }
  
  .wrapper2 img {
      width: 100%;
      float: left;
  }

  .upcoming-wrapper {
      flex-direction: column;
      margin-top: 29vh;
  }
  
  .upcoming-description{
      margin-left: auto;
      margin-right: auto;
  }
  
  .text-wrapper-top {
      top: -65px;
  }
  
  .text-wrapper-middle {
      top: -120px;
  }
      
  .text-wrapper-bottom {
      bottom: 175px;
  }
  
  .image-wrapper-bottom {
      bottom: 350px;
  }
  
  .image-wrapper-middle {
      bottom: 310px;
  }
  
  .image-wrapper-top {
      bottom: 230px;
  }    
}
